# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Data & Models
data/raw/*
data/processed/*
data/final/*
data/selected/*
data/adapters/*
!data/*/.gitkeep

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/